@page "/Paciente/Nuevo"
@using Actividad_17.Shared.Models;
@inject HttpClient http
@inject NavigationManager navegar

<h2>Nuevo Paciente</h2>

<EditForm Model="pa" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />

    <div class="mb-3">
        <label for="txtNombre" class="form-label">Nombre</label>
        <InputText id="txtNombre" class="form-control" @bind-Value="pa.nombre" />
    </div>
    <div class="mb-3">
        <label for="txtDireccion" class="form-label">Direccion</label>
        <InputText id="txtDireccion" class="form-control" @bind-Value="pa.direccion" />
    </div>
    <div class="mb-3">
        <label for="txtCorreo" class="form-label">Correo</label>
        <InputText id="txtCorreo" class="form-control" @bind-Value="pa.correo" />
    </div>
    <div class="mb-3">
        <label for="txtNS" class="form-label">Numero del Seguro Social</label>
        <InputText id="txtNS" class="form-control" @bind-Value="pa.ns" />
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
</EditForm>

@code {
    private Paciente pa = new Paciente();
    private async void Guardar()
    {
        await http.PostAsJsonAsync("api/Pacientes", pa);
        navegar.NavigateTo("/Pacientes");
    }
}
